@tailwind base;
@tailwind components;
@tailwind utilities;

.topSupport {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0rem 3rem;
  margin-bottom: 1rem;
}
.topSupport .supportLogo {
  display: flex;
  gap: 1rem;
  font-size: 2rem;
  align-items: center;
  color: rgb(87, 87, 87);
  cursor: pointer;
}
.topSupport .supportLogo img {
  margin-top: 1rem;
  width: 9rem;
  height: 4rem;
  cursor: pointer;
}
.topSupport .supportLogin a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 5rem;
  width: 13rem;
  color: #01668e;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
}

.searchSupport {
  width: 100%;
  background: linear-gradient(
    45deg,
    rgb(45, 184, 170),
    rgb(0, 255, 221),
    rgb(116, 56, 138)
  );
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchSupport form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background: #fff;
  border-radius: 10px;
  padding: 0.5rem;
}
.supportIssueList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.supportIssueList form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  gap: 1rem;
  padding: 12px 10px;
  width: 30rem;
  height: 22rem;
  background: linear-gradient(45deg, skyblue, lightpink);
  border-radius: 20px;
}
.supportIssueList form .message {
  display: flex;
  flex-direction: column;
}
.supportIssueList button {
  background-color: rgb(48, 180, 246);
  width: 7rem;
  height: 2rem;
  border-radius: 10px;
  border: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: scale(1);
}
.supportIssueList button:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transform: scale(1.05);
}
.supportIssueList button:active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: scale(1);
}
/* form submitted  */
.formSubmitted {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, skyblue, lightpink);
}
.formSubmitted h1 {
  font-size: 2rem;
}
.formSubmitted a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 2rem;
  background-color: #28a745;
  border-radius: 10px;
  border: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 2rem 0;
  transform: scale(1);
}
.formsubmitted a:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transform: scale(1.05);
}

/* issues content  */
.issues {
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
}
.supportIssuesContainer ul li {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1rem 0;
  border: 2px solid black;
  padding: 1rem;
  border-radius: 6px;
}
.supportIssuesContainer ul li h3 {
  color: black;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 1rem 0;
}
.supportIssuesContainer ul {
  list-style: none;
  padding: 0;
  color: black;
  /* display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 2fr);
  grid-template-rows: repeat(4, 2fr); */
  margin: 1rem 2rem;
  display: flex;
  flex-wrap: wrap;
}
.supportIssuesContainer ul li {
  width: max-content;
  margin: 1rem 2rem;
  flex-grow: 1;
  flex-basis: 200;
}
.supportIssuesContainer ul li h3 {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
}
.supportIssuesContainer ul li h3 p {
  color: rgb(71, 71, 71);
  font-size: 1.1rem;
}

.supportIssuesContainer ul li .issueMessage {
  flex-direction: column;
  font-weight: 500;
  gap: 0;
}
